<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        脳波解析ソフトウェア
    </title>
</head>

<body>
    <h1>
        脳波解析ソフトウェア
    </h1>
    <h2>
        脳波データ（.m00 / .edf）を解析し、Zスコアを算出します。
    </h2>
    <h3>
        解析終了後にWordファイルをダウンロードします。
    </h3>
    <form method="post" enctype="multipart/form-data">
        <label for="upload">
            ファイルを選択してください
            <input type="file" name=file id="upload" required>
        </label>
        <p></p>
        <label for="input_name">
            インプット名を入力してください
            <input type="text" name="text" id="input_name" required placeholder="Input Name">
        </label>
        <p></p>
        <input type=submit value="解析">
    </form>
</body>

</html>